{% extends "site_base.html" %}

{% block body_base %}
        <main class="page-container">

            <div class="page-content">

                <section class="page-content-lab mdl-grid">

                    <section class="page-content-lab__content mdl-cell mdl-cell--9-col">

                        <div class="lab__content__image">

                            <img src="assets/img/feat-headerImage.jpg" alt="">

                            <div class="lab_content__image__info">

                                <div class="lab_content__image__info__meta">
                                    <span>
                                        <span class="material-icons">trending_up</span>
                                        {{ course.difficulty }}
                                    </span>
                                    <span>
                                        <span class="material-icons">restore</span>
                                        1 hour 30 minutes
                                    </span>
                                </div>

                                <div class="lab_content__image__info__title">{{ course.title }}</div>

                                <p class="lab_content__image__info__description">
                                    {{ course.short_description }}
                                </p>

                                <div class="lab_content__image__info__reviews">

                                    <span>
                                        <span class="material-icons material-icons-star-shaded">star_rate</span>
                                        <span class="material-icons material-icons-star-shaded">star_rate</span>
                                        <span class="material-icons material-icons-star-shaded">star_rate</span>
                                        <span class="material-icons material-icons-star-shaded">star_rate</span>
                                        <span class="material-icons material-icons-star">star_rate</span>
                                    </span>

                                    <span class="lab_content__image__info__reviews__count">(41 Reviews)</span>
                                </div>

                                <div class="lab_content__image__info__addToCart">
                                    <a href="#" class="cs-button">
                                        <span class="material-icons">add_shopping_cart</span>
                                         Add to Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <article class="lab__content-lessons">
                            {{ course.overview|safe }}
                        </article>
                        <article class="lab__content-lessons">
                            {{ course.objective|safe }}
                        </article>
                        <article class="lab__content-lessons">
                            {{ course.prerequisites|safe }}
                        </article>
                        <article class="lab__content-lessons">
                            {{ course.content|safe }}
                        </article>
                    </section>

                    <nav class="page-content-lab__bookmarks mdl-cell mdl-cell--3-col">
                        <h3>Lessons</h3>
                        <ol class="lab__bookmarks__list">
                            {% for lesson in course.get_lessons %}
                                <li>{{ lesson.title }}</li>
                            {% endfor %}
<!--                            <li>Configuring your Azure Pipelines project</li>-->
<!--                            <li>Modifying a YAML build pipeline definition</li>-->
<!--                            <li>Proposing a change via GitHub</li>-->
<!--                            <li>Lab Quiz</li>-->
                        </ol>
                    </nav>

                </section>

            </div>

        </main>
{% endblock %}