{% extends "site_base.html" %}
{% load static %}

{% block body_base %}
        <main class="page-container">
            <div class="page-content">
                <section class="page-content-lab mdl-grid">
                    <section class="page-content-lab__content mdl-cell mdl-cell--9-col">
                        <div class="lab__content__image">
                            {% if course.banner %}
                                <img src="{{ course.banner.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/feat-headerImage.jpg' %}" alt="">
                            {% endif %}

                            <div class="lab_content__image__info">
                                <div class="lab_content__image__info__meta">
                                    <span>
                                        <span class="material-icons">trending_up</span>
                                        {{ course.difficulty }}
                                    </span>
                                    <span>
                                        <span class="material-icons">restore</span>
                                        1 hour 30 minutes
                                    </span>
                                </div>
                                <div class="lab_content__image__info__title">{{ course.title }}</div>
                                <p class="lab_content__image__info__description">
                                    {{ course.overview }}
                                </p>
                                <div class="lab_content__image__info__reviews">
                                    <span>
                                        <span class="material-icons material-icons-star">star_rate</span>
                                        <span class="material-icons material-icons-star">star_rate</span>
                                        <span class="material-icons material-icons-star">star_rate</span>
                                        <span class="material-icons material-icons-star">star_rate</span>
                                        <span class="material-icons material-icons-star">star_rate</span>
                                    </span>
                                    <span class="lab_content__image__info__reviews__count">(0 Reviews)</span>
                                </div>
                                <div class="lab_content__image__info__addToCart">
                                    <a href="#" class="cs-button">
                                        <span class="material-icons">add_shopping_cart</span>
                                         Add to Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <article class="lab__content-lessons">
                            {{ course.content|safe }}
                        </article>
                    </section>

                    <nav class="page-content-lab__bookmarks mdl-cell mdl-cell--3-col">
                        <h3>Lessons</h3>
                        <ol class="lab__bookmarks__list">
                            {% for lesson in course.get_lessons %}
                                <li>{{ lesson.title }}</li>
                            {% endfor %}
                        </ol>
                    </nav>

                </section>
                <section class="page-content__reviews">
                    <div class=""><h3>Reviews</h3></div>
                    <div class="reviews">
                        <div class="reviews-overall">
                            <div class="reviews-overall__stats">
                                <span>{{ reviews.count }}</span>
                                <span>out of 5</span>
                            </div>
                            <div class="reviews-overall__ratings">
                                <div class="reviews-overall__ratings__row">
                                    <span>5</span>
                                    <span class="material-icons material-icons-star-shaded">star_rate</span>
                                    <span id="progressbar5" class="mdl-progress mdl-js-progress"></span>
                                </div>
                                <div class="reviews-overall__ratings__row">
                                    <span>4</span>
                                    <span class="material-icons material-icons-star-shaded">star_rate</span>
                                    <span id="progressbar4" class="mdl-progress mdl-js-progress"></span>
                                </div>
                                <div class="reviews-overall__ratings__row">
                                    <span>3</span>
                                    <span class="material-icons material-icons-star-shaded">star_rate</span>
                                    <span id="progressbar3" class="mdl-progress mdl-js-progress"></span>
                                </div>
                                <div class="reviews-overall__ratings__row">
                                    <span>2</span>
                                    <span class="material-icons material-icons-star-shaded">star_rate</span>
                                    <span id="progressbar2" class="mdl-progress mdl-js-progress"></span>
                                </div>
                                <div class="reviews-overall__ratings__row">
                                    <span>1</span>
                                    <span class="material-icons material-icons-star-shaded">star_rate</span>
                                    <span id="progressbar1" class="mdl-progress mdl-js-progress"></span>
                                </div>
                            </div>

                            <div class="reviews-overall__total">({{ reviews.count }} reviews)</div>
                            <a href="#" id="review-dialog" class="cs-button">Write a Review</a>

                        </div>

                        <div class="reviews-list">
                            {% for review in reviews %}
                                <div class="review-card">
                                    <div class="review-card__user">
                                        <span>{{ review.user }}</span>
                                        <span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                        </span>
                                    </div>

                                    <div class="review-card__text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    </div>

                                    <div class="review-card__date">
                                        {{ review.created }}
                                    </div>

                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>

                <section class="page-content-recommendations">
                    <h3>Recommended Labs</h3>
                    <div class="course-cards mdl-grid">
                        {% for re_course in related_courses%}
                            <div class="course-card course-card--track mdl-cell mdl-cell--4-col">
                                <div class="course-card__top">
                                    {% if re_course.banner %}
                                        <img src="{{ re_course.banner.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'images/feat-headerImage.jpg' %}" alt="">
                                    {% endif %}
                                    <div class="course-card__top__foreground">
                                        <div class="course-card__label">
                                            <div>
                                                <span></span>Lab Track
                                            </div>
                                        </div>
                                        <div class="course-card__title">
                                            <a href="#">{{ re_course.title }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-card__bottom">
                                    <div class="lab_content__image__info__reviews">
                                        <span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                            <span class="material-icons material-icons-star">star_rate</span>
                                        </span>
                                        <span class="lab_content__image__info__reviews__count">(0 Reviews)</span>
                                    </div>
                                    <div class="course-card__description">
                                        {{ re_course.overview|safe }}
                                    </div>
                                    <a href="#" class="cs-button">
                                        <span class="material-icons">add_shopping_cart</span>
                                            Add to Cart
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </main>
{% endblock %}