{% extends "site_base.html" %}

{% block body_base %}
        <main class="page-container">
            <div class="page-content">
                <section class="page-content-lab mdl-grid">
                    <section class="page-content-lab__content mdl-cell mdl-cell--9-col">
                        <div class="lab__content__image">
                            <img src="assets/img/feat-headerImage.jpg" alt="">
                            <div class="lab_content__image__info">
                                <div class="lab_content__image__info__title">Authenticated Dashboard</div>
                                    <div class="mdl-grid">
                                        {% for course in courses %}
                                        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
                                          <figure class="mdl-card__media">
                                          </figure>
                                          <div class="mdl-card__title">
                                            <h1 class="mdl-card__title-text">
                                                <a href="{% url 'audience:course-content-view' course.id %}">{{ course }}</a>
                                            </h1>
                                          </div>
                                          <div class="mdl-card__supporting-text">
                                            <p>{{ course.short_description }}</p>
                                          </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </main>
{% endblock %}