{% extends "site_base_admin.html" %}
{% load i18n %}

{% block title_track %} Create a Lab Track {% endblock %}
{% block body_base %}
    <section class="admin-content">

    <form class="frm-lab-course" action="">

        <div class="admin-content-left">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <a href="#track-panel" class="mdl-tabs__tab is-active">Lab Track Information</a>
                    <a href="#courses-panel" class="mdl-tabs__tab">Select Lab Courses</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="track-panel">

                    <h3>Lab Track Information</h3>

                    <div class="cs-inputText">
                        <input type="text" class="" id="title"  pattern="[A-Z,a-z,0-9]*" placeholder="TRACK Title">
                    </div>

                    <div class="cs-inputText">
                        <input type="text" class="" id="labcode"  pattern="[A-Z,a-z,0-9]*" placeholder="TRACK Code">
                    </div>

                    <div class="cs-inputText">
                        <textarea class="" type="text" id="content" rows="5" placeholder="Overview"></textarea>
                    </div>

                    <div class="cs-inputText">
                        <textarea class="" type="text" id="content" rows="5" placeholder="Objective"></textarea>
                    </div>

                    <div class="cs-inputText">
                        <textarea class="" type="text" id="content" rows="5" placeholder="Prerequisites"></textarea>
                    </div>

                    <!-- <div class="cs-inputText">
                        <textarea class="" type="text" id="content" rows="15" placeholder="Course Content"></textarea>
                    </div> -->

                </div>

                <div class="mdl-tabs__panel" id="courses-panel">

                    <div class="courses-panel__header--2">

                        <h3>Select Lab Courses</h3>

                        <div class="add-courses">

                            <button class="cs-button btn-addCourses">Add Courses</button>

                            <div class="dialog-box btn-addCourses-box">

                                <div class="dialog-content">

                                    <div class="cs-inputText cs-inputText--dialog">
                                        <span class="material-icons">search</span>
                                        <input type="text" >
                                    </div>

                                    <div class="dialog-courses">
                                        <div class="dialog-course">
                                            <div class="dialog-course__details">
                                                <div class="dialog-course__details__title">Introduction to Machine Learning</div>
                                                <div class="dialog-course__details__description">
                                                    In this lab, you will use machine learning to train a predictive model that predicts daily lemonade sales
                                                    based on variables such as the weather and the number of flyers distributed. You will then publish the
                                                    model as a web service and use it from Excel.
                                                </div>
                                            </div>
                                            <div class="dialog-course_select">
                                                <span class="material-icons">check_circle</span>
                                            </div>
                                        </div>
                                        <div class="dialog-course dialog-course--selected">
                                            <div class="dialog-course__details">
                                                <div class="dialog-course__details__title">Controlling Deployments</div>
                                                <div class="dialog-course__details__description">
                                                    As you may be aware, a release pipeline specifies the end-to-end release process for an application
                                                    to be deployed across a range of environments. Deployments to each environment are fully
                                                    automated by using jobs and tasks. Ideally, you do not want new updates to the applications to be
                                                    exposed to all the users at the same time. It is a best practice to expose updates in a phased
                                                    manner i.e. expose to a subset of users, monitor their usage and expose to other users based on the
                                                    experience the initial set of users had
                                                </div>
                                            </div>
                                            <div class="dialog-course__select">
                                                <span class="material-icons">check_circle</span>
                                            </div>
                                        </div>
                                        <div class="dialog-course">
                                            <div class="dialog-course__details">
                                                <div class="dialog-course__details__title">Introduction to Machine Learning</div>
                                                <div class="dialog-course__details__description">
                                                    In this lab, you will use machine learning to train a predictive model that predicts daily lemonade sales
                                                    based on variables such as the weather and the number of flyers distributed. You will then publish the
                                                    model as a web service and use it from Excel.
                                                </div>
                                            </div>
                                            <div class="dialog-course_select">
                                                <span class="material-icons">check_circle</span>
                                            </div>
                                        </div>
                                        <div class="dialog-course">
                                            <div class="dialog-course__details">
                                                <div class="dialog-course__details__title">Introduction to Machine Learning</div>
                                                <div class="dialog-course__details__description">
                                                    In this lab, you will use machine learning to train a predictive model that predicts daily lemonade sales
                                                    based on variables such as the weather and the number of flyers distributed. You will then publish the
                                                    model as a web service and use it from Excel.
                                                </div>
                                            </div>
                                            <div class="dialog-course_select">
                                                <span class="material-icons">check_circle</span>
                                            </div>
                                        </div>
                                        <div class="dialog-course">
                                            <div class="dialog-course__details">
                                                <div class="dialog-course__details__title">Introduction to Machine Learning</div>
                                                <div class="dialog-course__details__description">
                                                    In this lab, you will use machine learning to train a predictive model that predicts daily lemonade sales
                                                    based on variables such as the weather and the number of flyers distributed. You will then publish the
                                                    model as a web service and use it from Excel.
                                                </div>
                                            </div>
                                            <div class="dialog-course_select">
                                                <span class="material-icons">check_circle</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <ul id="sortable" class="courses-panel__courses mdl-list">
                        <li class="sort-box ui-state-default">
                            <div class="sort-box-dragIcon"><span class="material-icons">more_vert</span></div>
                            <div class="sort-box-details">
                                <div class="sort-box-details__title">Working with Pull Requests in Visual Studio Code and Azure DevOps</div>
                                <div>
                                    Pull requests let your team give feedback on changes in feature branches before merging the code
                                    into the master branch. Reviewers can step through the proposed changes, leave comments, and
                                    vote to approve or reject the code. Azure DevOps provides a rich experience for creating, reviewing, and approving pull requests.
                                </div>
                            </div>
                            <div class="sort-box-actions">
                                <span class="material-icons">edit</span>
                                <span class="material-icons">delete</span>
                            </div>
                        </li>
                        <li class="sort-box ui-state-default">
                            <div class="sort-box-dragIcon"><span class="material-icons">more_vert</span></div>
                            <div class="sort-box-details">
                                <div class="sort-box-details__title">Integrate Your GitHub Projects With Azure Pipelines</div>
                                <div>
                                    With the introduction of Azure DevOps, Microsoft is offering developers a new continuous
                                    integration/continuous delivery (CI/CD) service called Azure Pipelines that enables you to
                                    continuously build, test, and deploy to any platform or cloud. It has cloud-hosted agents for Linux, macOS, and Windows; powerful workflows with native container support; and flexible deployments
                                    to Kubernetes, VMs, and serverless.
                                </div>
                            </div>
                            <div class="sort-box-actions">
                                <span class="material-icons">edit</span>
                                <span class="material-icons">delete</span>
                            </div>
                        </li>
                        <li class="sort-box ui-state-default">
                            <div class="sort-box-dragIcon"><span class="material-icons">more_vert</span></div>
                            <div class="sort-box-details">
                                <div class="sort-box-details__title">Enabling Continuous Integration with Azure Pipelines</div>
                                <div>
                                    In this lab, you will learn how to configure continuous integration (CI) and continuous deployment
                                    (CD) for your applications using Build and Release in Azure Pipelines. This scriptable CI/CD system
                                    is both web-based and cross-platform, while also providing a modern interface for visualizing
                                    sophisticated workflows. Although we won’t demonstrate all of the cross-platform possibilities in this
                                    lab, it is important to point out that you can also build for iOS, Android, Java (using Ant, Maven, or
                                    Gradle)
                                </div>
                            </div>
                            <div class="sort-box-actions">
                                <span class="material-icons">edit</span>
                                <span class="material-icons">delete</span>
                            </div>
                        </li>
                    </ul>

                  <div class="courses-panel__addCourse">
                      <button class="cs-button btn-addCourses">Add Courses</button>
                  </div>

                </div>


            </div>

        </div>

        <div class="admin-content-right">

            <div class="admin-publish">
                <a href="#" class="">Save as Draft</a>
                <a href="#" class="cs-button cs-button--white">Preview</a>
                <a href="#" class="cs-button cs-button--green">Publish</a>
            </div>

            <div class="admin-thumbnail">
                <div>Add Lab Track thumbnail</div>
            </div>

            <div class="accordion">
                <h3>Mentor</h3>
                <div>
                    <div class="cs-inputText">
                        <input type="text" class="mdl-textfield__input" id="title"  pattern="[A-Z,a-z,0-9]*" placeholder="Ex. John Dela Cruz">
                    </div>
                </div>
                <h3>Track Difficulty</h3>
                <div>
                    <label for="radio-1">Beginner</label>
                    <input type="radio" name="radio-1" id="radio-1" class="course-difficulty">
                    <label for="radio-2">Professional</label>
                    <input type="radio" name="radio-1" id="radio-2" class="course-difficulty">
                    <label for="radio-3">Expert</label>
                    <input type="radio" name="radio-1" id="radio-3" class="course-difficulty">
                </div>
                <h3>Category</h3>
                <div>
                    <div>
                        <span class="mdl-chip mdl-chip--deletable">
                            <span class="mdl-chip__text">AWS</span>
                            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                        </span>
                        <span class="mdl-chip mdl-chip--deletable">
                            <span class="mdl-chip__text">Cloud</span>
                            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                        </span>
                        <span class="mdl-chip mdl-chip--deletable">
                            <span class="mdl-chip__text">AI</span>
                            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                        </span>
                    </div>
                </div>
              </div>
        </div>
    </form>
</section>
{% endblock %}