[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
drf-yasg = "*"
fcm-django = "*"
pillow = "*"
django-filter = "*"
django-rest-auth = "*"
django-allauth = "*"
django-model-utils = "*"

[dev-packages]

[requires]
python_version = "3.7"
