{% load static %}
    <section class="cs-admin-nav">
        <div class="logo-layout">

            <div class="logo-layout__mainLogo">
                <a href="{% url 'audience:dashboard' %}"><img src="{% static 'img/logo-agila.png' %}" alt=""></a>
            </div>

            <div class="logo-layout__siteInfo">
                <div><span class="logo-layout__siteInfo__agila">AGILA</span> School of Labs</div>
                <div>A Product of <img src="{% static 'img/logo-cs-horizontal.png' %}" alt=""></div>
            </div>

        </div>

        <nav class="cs-admin-nav-links">

            <ul class="mdl-list">
                <li class="{% if course_is_active %}cs-admin-nav-link--active {% endif %}">
                    <a href="{% url 'audience:audience-course-create' %}">
                        <span class="material-icons">menu_book</span>
                        Create a Lab Course
                    </a>
                </li>
                <li class="{% if lab_is_active %}cs-admin-nav-link--active {% endif %}">
                    <a href="{% url 'audience:audience-lab-track-create' %}">
                        <span class="material-icons">science</span>
                        Create a Lab Track {{ lab_is_active }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="material-icons">engineering</span>
                        Manage Users
                    </a>
                </li>
            </ul>

        </nav>
    </section>