{% extends "site_base.html" %}
{% load i18n %}
{% load static %}

{% block body_base %}
<main class="page-container">
    <section class="page-content--full">

        <div class="home__content__image home__content__image--search">

            <img src="{% static 'images/feat-home.png' %}" >

            <div class="home_content__image__info">

                <div class="home_content__image__info__title">Course Catalog</div>

                <p class="home_content__image__info__description">
                    Check out our updated course catalog and find the lab activities you are looking for.
                </p>

                <div class="home_content__image__info__search">
                    <form action="" method="GET">
                        <div class="cs-inputText">
                            <input name="search" type="text" class="" id="title"  pattern="[A-Z,a-z,0-9]*" placeholder="Search for Courses / Tracks.">
                        </div>
                        <button class="cs-button">
                            <span class="material-icons">search</span>
                                Search
                        </button>
<!--                        <a href="#" class="cs-button">-->
<!--                            <span class="material-icons">search</span>-->
<!--                                Search-->
<!--                        </a>-->
<!--                        {% for results in result %}-->
<!--                            {{ results.code }}-->
<!--                            {{ results.title }}-->
<!--                        {% endfor %}-->
                    </form>
                </div>
            </div>
        </div>

    </section>

    <div class="page-content page-content--home">

        <section class="page-content-courseTracks">
            {% if result %}
            <div class="tracks-courses-list">
                <p class="tracks-courses-list__heading">Results for searching: "<span class="search-term">{{ search }}</span>"</p>

                <div class="courseTrack-box">
                {% for results in result %}
                    <div class="courseTrack-card courseTrack-card--track">
                        <div class="courseTrack-img">
                            <img src="{% static 'images/feat-recommended1.jpg' %}" alt="">
                            <div class="courseTrack-img__type">
                                        TRACK
                            </div>
                        </div>
                        <div class="courseTrack-info">
                            <div class="courseTrack-info__author">
                                <span>{{ results.code }}</span> <span>|</span> by <span>University of Makati</span>
                            </div>
                            <div class="courseTrack-info__title">
                                {{ results.title }}
                            </div>
                            <div>
                                <span>
                                    <span class="material-icons material-icons-star">star_rate</span>
                                    <span class="material-icons material-icons-star">star_rate</span>
                                    <span class="material-icons material-icons-star">star_rate</span>
                                    <span class="material-icons material-icons-star">star_rate</span>
                                    <span class="material-icons material-icons-star">star_rate</span>
                                </span>
                                <span class="lab_content__image__info__reviews__count">(0 Reviews)</span>
                                </div>
                            <div class="courseTrack-info__description">
                                Responsibilities for this role include designing and implementing strategies for collaboration, code, infrastructure, source control, security, compliance, continuous integration, testing, delivery, monitoring, and feedback.
                            </div>
                            <div class="courseTrack-info__meta">
                                <span>
                                    <span class="material-icons">trending_up</span>
                                    Beginner
                                </span>
                                <span>
                                    <span class="material-icons">restore</span>
                                    1 hour 30 minutes
                                </span>
                            </div>
                        </div>
                        <div class="courseTrack-cta">
                            <div>
                                <a href="{% url 'audience:course-content-view' results.id %}" class="cs-button">View Track</a>
                            </div>

                        </div>


                    </div>
                {% endfor %}

                </div>


            </div>
            {% endif %}
        </section>

        <section class="page-content-recommendations">

            <h3>{{ category.name }}</h3>

            <div class="page-content-recommendations__description">
                {{ category.description }}
            </div>

            <div class="course-cards mdl-grid">
                {% for course2 in courses %}
                <div class="course-card course-card--track mdl-cell mdl-cell--4-col">

                    <div class="course-card__top">

                        <img src="{% static 'images/feat-recommended1.jpg' %}" alt="">

                        <div class="course-card__top__foreground">

                            <div class="course-card__label">
                                <div>
                                    <span></span>Course Track
                                </div>
                            </div>
                            <div class="course-card__title">
                                <a href="{% url 'audience:course-content-view' course2.id %}">{{ course2.title }}</a>
                            </div>
                        </div>

                    </div>

                    <div class="course-card__bottom">

                        <div class="lab_content__image__info__reviews">

                            <span>
<!--                                <span class="material-icons material-icons-star-shaded">star_rate</span>-->
                                <span class="material-icons material-icons-star">star_rate</span>
                                <span class="material-icons material-icons-star">star_rate</span>
                                <span class="material-icons material-icons-star">star_rate</span>
                                <span class="material-icons material-icons-star">star_rate</span>
                                <span class="material-icons material-icons-star">star_rate</span>

                            </span>

                            <span class="lab_content__image__info__reviews__count">(0 Reviews)</span>
                        </div>

                        <div class="course-card__description">
                            {{ course2.overview }}
                        </div>

                        <a href="#" class="cs-button">
                            <span class="material-icons">add_shopping_cart</span>
                                Add to Cart
                        </a>

                    </div>

                </div>
                {% endfor %}
            </div>

        </section>

    </div>

</main>
{% endblock %}
